body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 5px auto;
  border: 5px solid white;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px auto;

  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;

  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
}

.content {
  margin-bottom: 8px;
  padding: 16px 8px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}
