<<<<<<< HEAD
/* Add CSS Styling */
=======
/* Add CSS Styling */
.avatar.proportioned {
  width: 300px;
  height: auto;
}
.avatar.distorted {
  width: 200px;
  height: 400px;
}
>>>>>>> 16685fb (Completed intro to css)
